RewriteEngine on
RewriteBase /apuntatelo/
RewriteRule ^perfil/(.*)/$ perfil/index.php?id=$1
RewriteRule ^posts/(.*)/(.*)/(.*)\.html$ posts/mostrar.php?id=$1
RewriteRule ^posts/(.*)/$ posts/mostrar.php?id=$1
RewriteRule ^ingresar/$ ingresar.php
RewriteRule ^salir/$ salir.php